/******************************************* 
    Styles By BeingOnline - OBJECTS
    Class-based selectors which define undecorated design patterns, 
    for example media object known from OOCSS.
********************************************/


/*
	Project Objects
*/


/**
 * The flag object is a design pattern similar to the media object, however it
 * utilises `display: table[-cell];` to give us control over the vertical
 * alignments of the text and image.
 */

    .o-flag {
        display: table; 
        //width: 100%; 
        border-spacing: 0;

        &__img,
        &__body {
            display: table-cell;
            vertical-align: middle; 
        }
    }

/**
 * Place any image- and text-like content side-by-side, as per:
 * http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code
 */

    .o-media {
        @include clearfix();
        display: block;
    
        &__img {
            float: left;
            > img {
                display: block;
            }
        }

        &__body {
            overflow: hidden;
            display: block;

            &,
            > :last-child {
                margin-bottom: 0;
            }
        }

        &--reverse{
            > .o-media__img {
                float: right;
                margin-right: 0;
            }
        }

    }

/**
 * Strip list-like appearance from lists by removing their bullets, and any
 * indentation.
 *
 * Note: Declaring the item-class might not be necessary everywhere but
 * is for example in <dl> lists for the <dd> childs.
 */

    .o-list-bare {
        list-style: none;
        margin-left: 0;
        padding-left: 0;
        &__item {
            margin-left: 0;
        }
    }

/**
 * The pack object simply causes any number of elements pack up horizontally to
 * automatically fill an equal, fluid width of their parent.
 *
 */

    .o-pack {
        width: 100%;
        margin-left: 0;
        display: table;
        table-layout: fixed;
    }


/**
 *
 * Responsive Breakpoints
 * Sometimes you want br tags to force a new line if on deskktop, 
 * but want them igored on other device sizes
 *
 */

    .o-resp-br{

        // standard would be to ignore mobile only
        &--ignore-mobile{
            content: ' ';
            @include media-breakpoint-up(md){
                content: initial;
            }
            &::after {
                content: ' ';
                @include media-breakpoint-up(md){
                    content: initial;
                }
            }
        }

        // ignore tablet size up only
        &--ignore-desktop{
            @include media-breakpoint-up(md){
                content: ' ';
            } 
            &::after {
                @include media-breakpoint-up(md){
                    content: ' ';
                }
            }
        }
    }


/*
    Remove padding on twitter bootstrap columns
    for mobile up only
*/

    .g-no-padding{
        padding-left: 15px;
        padding-right: 15px;
        @include media-breakpoint-up(sm){
            .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
                padding-left: 0;
                padding-right: 0;
            }
        }
    }